
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    background-image: url(../Images/modern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* Modern GYM */

.google-map{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navbar-logo .logo{
    width: 100px;
}
nav .nav-menu{
    display: flex;
    list-style: none;
}
nav .nav-menu li a{
    display: inline-block;
    margin-left: 20px;
    margin-right: 5px;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease;
}
.nav-menu .nav-item a:hover{
    background-color: black;
    color: bisque;
    transition: 0.3s ease;
}
.navbar ul li ul{
    position: static;
    display: block;
    width: 150px;
    background: orange;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
}
.navbar ul li ul li a{
    color: white;
    text-decoration: none;
    text-align: left;
    list-style-type: none;
    font-size: 15px;
}
.navbar ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.text h1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.text h2{
    text-align: center;
    color: darkred;
}
.form-slike{
    justify-content: center;
    display: flex;
}
.form-slike .slika{
    border-radius: 25%;
    display: inline;
    width: 450px;
    padding: 0px 15px;
}
.Pocetna a{
  text-decoration: none;
  border: 2px solid red;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  margin: auto;
}
/* Kontakt */
  .contact-form{
      position: relative;
      min-height: 100vh;
      z-index: 0;
      padding: 30px;
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      align-items: center;
  }
  .kontejner{
    max-width: 800px;
    margin-top: 0 auto;
  }
 .contact-form h1{
     text-align: center;
     font-size: 40px;
     font-weight: 400;
     color: black;
     font-family: 'poppins';
 }
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight:500;
    color: orange;
    text-align: center;
}
.contact-form .main-kontakt{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.kontent{
    flex-basis: 50%;
    padding: 48px 48px;
    background-image: url('../Images/Moderngymlogo.png');
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
  .input-podaci textarea, input{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: orange;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
    border-radius: 10px;
  }
  .submit-button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: black;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid black;
    border-radius: 35px;
  }
  .submit-button:hover{
      background-color: orange;
  }
  .contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
  }
  .input-podaci p{
      align-items: center;
      text-align: center;
      color: black;
  }

.Pocetna-kontakt{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.Pocetna-kontakt a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}
.Pocetna-kontakt a:hover{
    border-radius: 20px;
    background-color: black;
    color: burlywood;
    transition: 0.3s ease;
}
.footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #111111;

}

.footer-social-icon{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.footer-social-icon i{
    font-size: 30px;
    margin: 0px 15px;
    color: white;
}
.footer-navbar a{
    color: white;
    text-decoration: none;
}
/* O nama */

.o-nama h1{
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
.o-nama p{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.o-nama .O-nama-img img{
    border-radius: 25%;
    display: flex;
    margin: auto;
}
.table .lista {
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    color: khaki;
}

/* Usluge */
.usluge {
    margin: 0px 15px;
}
.usluge-img{
    width: 575px;
    display: flex;
    padding: 10px;
}
.tabela{
    border: 1px solid black;
    width: 800px;
    height: 300px;
    background-color: bisque;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.tabela td{
    border: 1px solid black;
}
.usluge-naslov h1{
   font-size: 40px;
   font-family: 'Times New Roman', Times, serif;
   color: darkred;
   align-items: center;
   text-align: center;
}

/* Proizvodi */

.proizvodi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.protein img{
    width: 500px;
    border-radius: 15%;
}
.top-panel h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #111111;
    text-align: center;
}
.tabela-proizvodi{
    border: 1px solid black;
    width: 700px;
    background-color: bisque;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.tabela-proizvodi td{
    border: 1px solid black;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    html, body{
        width:100%;
        overflow-x:hidden;
    }
    .form-slike{
        display: block;
        margin: 10px 0px;
    }
    .form-slike .slika {
        width: 100%;
        height: 200px;
        margin: 10px 0px;
        display: block;
    }

    .navbar,
    .nav-menu {
            display: block;
            padding: 0px;
            justify-content: center;
        }
        .nav-menu{
            display: block;
        padding: 0px;
        width: 100%;
        text-align: center;
        }

    .navbar-logo .logo {
        width: 50px;
        margin: auto;
        display: block;
    }

    .nav-menu .nav-item {
        font-size: 15px;
    }

    .nav-menu .nav-item a {
        padding: 5px;
        font-size: 14px;
    }
    .contact-form .main-kontakt{
        flex-direction: column;
    }
    .contact-form .unos-input{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .kontent{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .input-podaci p {
        color: black;
    }

    .O-nama-img img{
        width: 100%;
    }
    .tabela{
        width:100%;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        font-weight: normal;
    }
    .usluge{
        display: block;
        justify-content: center;
        align-items: center;

    }
    .usluge img{
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .Pocetna-kontakt a{
        justify-content: center;
    }

    .proizvodi{
        display: block;
    }
    .protein img{
        width: 100%;
    }
    .tabela-proizvodi{
        width:100%;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        font-weight: normal;
    }
}
.navbar-logo .logo{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
